/* Import Tailwind's base, components, and utilities in one line */
@import "tailwindcss";


@theme {
  --color-ayur-primary: #062c21;
  --color-ayur-green-mid: #5a7c50;
  --color-ayur-green-light: #9cb48c;
  --color-ayur-brown: #b56b45;
  --color-ayur-sand: #e2bfa7;
}